@import '../../../styles.scss';
.companies-container{
  background-color:rgba($color:$black-color , $alpha: 20%) ;
  text-align: center;
  padding-block-start: 20px;


.header-text{
color: $wight-color;
@include font(400,20px);
}
span{
 @include font(600,25px)
}
.companies-logo{
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  padding-block: 30px;
  padding-inline: 150px;
  gap:100px;

}
}
@include respond(medium)
{
.companies-container{
  .header-text{
    @include font(400,15px);
  }
  span{
    @include font(600,20px)
   }
   .companies-logo{
    padding-inline: 80px;
    gap:50px;
   }
}
}
