/* You can add global styles to this file, and also import other style files */
$wight-color:#FFFFFF;
$gray-color:#adadad;
$orang-color:#fb8500;
$orang-light-color:#FB9A00;
$dark-color:#1B263B;
$gray-light-color:#CECECE;
$orang-dark-color: #FF6700;
$black-color:#000000;

@mixin respond($breakpoint) {
  @if($breakpoint == medium)  {
    @media (max-width: 1100px) { @content }
  }
  @if($breakpoint == small)  {
    @media (max-width: 500px) { @content }
  }
}
@mixin font($fontWeight,$fontSize){
  font-family: "Inter","Poppins",serif;
  font-weight:$fontWeight;
  font-size: $fontSize;

}
body{
  margin: 0;

}
