@import '../../../styles.scss';
.btn-plan-trip{
  background: transparent linear-gradient(289deg, $orang-light-color 0%,$orang-color 100%) 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: none;
  padding: 8px 24px;
  color:$white-color;
@include font($fontWeight:500,$fontSize:16px);
    @include respond(small){
     padding: 5px 10px;
@include font($fontWeight:500,$fontSize:11px);

    }
  &:hover{
    background: transparent linear-gradient(289deg, $orang-color 0% , $orang-light-color 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
  }
}

