
<section class="hero-container">
  <nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid ">
      <img class="logo" src="../../../assets/images/travelo-logo.png" alt="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" >Destinations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#" >Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blog</a>
          </li>
        </ul>

          <app-plan-button></app-plan-button>

      </div>
    </div>
  </nav>
 <div class="hero-text-container">
  <p class="hero-item-note">All you need is new adventure</p>
  <h1 class="hero-item-title">Live the <span class="adventure">adventure</span> <br>& explore new places!</h1>
  <div class="btn-under-text">
    <app-plan-button ></app-plan-button>
  </div>
 </div>
</section>
